[submodule "janus/vim-slim"]
	path = janus/vim-slim
	url = https://github.com/bbommarito/vim-slim.git
[submodule "janus/vim-rails"]
	path = janus/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "zprezto"]
	path = zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "janus/cvim-pathogen"]
	path = janus/cvim-pathogen
	url = git://github.com/HenningM/cvim-pathogen.git
