[submodule "prezto"]
	path = oh-my-zsh
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "vim-slim"]
  path = janus/vim-slim
  url = https://github.com/bbommarito/vim-slim.git
[submodule "vim-rails"]
  path = janus/vim-rails
  url = https://github.com/tpope/vim-rails.git
